@{
    //If there is a message at the end of the user action here we receive it
    var ledDurumu = ViewBag.LedDurumu;
}
<h1>Online Led Yakma Projesi</h1>
<div>
    <p>
        Led Işığını:
    </p>
    <a href="@Url.Action("LedAc")" class="btn btn-success" role="button">Aç</a>
    <a href="@Url.Action("LedKapat")" class="btn btn-danger" role="button">Kapat</a>
</div>
<br />
@*
    If there is a message to be shown to the user, we show it to the user.
*@
@if (!string.IsNullOrEmpty(ledDurumu))
{
    <div class="alert alert-primary" role="alert">
        <b>Bilgi:</b> @ledDurumu
    </div>
}